 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Misión</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>En AcademiaX queremos que aprendas más y mejor de manera moderna a través de clases que puedas repetir las veces qe quieras y recibiendo retroalimentación de aquello que te hace falta para ser un estudiante completo</p>
                </div>
                <div class="col-lg-4">
                    <p>Complementa las clases presenciales y toma un atajo entretenido respecto a tus compañeros</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
